In [1]:
import numpy as np  # For numerical operations
import pandas as pd  # For data manipulation

In [2]:
makers = pd.read_csv("electric_vehicle_sales_by_makers.csv")
states = pd.read_csv("electric_vehicle_sales_by_state.csv")
dim = pd.read_csv("dim_date.csv")

In [3]:
def explore(df):
    with pd.option_context("display.max_colwidth", 20):
        info = pd.DataFrame()
        info['data type'] = df.dtypes
        info['percent missing'] = df.isnull().sum()*100/len(df)
        info['No. unique'] = df.apply(lambda x: len(x.unique()))
        info['unique values'] = df.apply(lambda x: x.unique())
        return info.sort_values('data type')

In [4]:
explore(makers)

,data type,percent missing,No. unique,unique values
electric_vehicles_sold,int64,0.0,603,"[0, 322, 118, 171, 12, 3, 1409, 177, 611, 15, ..."
date,object,0.0,36,"[01-Apr-21, 01-Apr-22, 01-May-21, 01-Jun-21, 0..."
vehicle_category,object,0.0,2,"[2-Wheelers, 4-Wheelers]"
maker,object,0.0,26,"[OLA ELECTRIC, OKAYA EV, BYD India, PCA Automo..."

In [5]:
explore(states)

,data type,percent missing,No. unique,unique values
electric_vehicles_sold,int64,0.0,921,"[0, 1, 9, 26, 4, 2, 61, 8, 44, 3, 90, 132, 96,..."
total_vehicles_sold,int64,0.0,2225,"[398, 361, 113, 98, 229, 244, 458, 452, 489, 4..."
date,object,0.0,36,"[01-Apr-21, 01-May-21, 01-Jun-21, 01-Jul-21, 0..."
state,object,0.0,35,"[Sikkim, Andaman & Nicobar Island, Arunachal P..."
vehicle_category,object,0.0,2,"[2-Wheelers, 4-Wheelers]"

In [6]:
explore(dim)

,data type,percent missing,No. unique,unique values
fiscal_year,int64,0.0,3,"[2022, 2023, 2024]"
date,object,0.0,36,"[01-Apr-21, 01-May-21, 01-Jun-21, 01-Jul-21, 0..."
quarter,object,0.0,4,"[Q1, Q2, Q3, Q4]"

##### To convert a column in a DataFrame from object type to date format in pandas, we can use the pd.to_datetime() function.

In [7]:
makers['date'] = pd.to_datetime(makers['date'], format='%d-%b-%y').dt.date
states['date'] = pd.to_datetime(states['date'], format='%d-%b-%y').dt.date
dim['date'] = pd.to_datetime(dim['date'], format='%d-%b-%y').dt.date

In [8]:
explore(makers)

,data type,percent missing,No. unique,unique values
electric_vehicles_sold,int64,0.0,603,"[0, 322, 118, 171, 12, 3, 1409, 177, 611, 15, ..."
date,object,0.0,36,"[2021-04-01, 2022-04-01, 2021-05-01, 2021-06-0..."
vehicle_category,object,0.0,2,"[2-Wheelers, 4-Wheelers]"
maker,object,0.0,26,"[OLA ELECTRIC, OKAYA EV, BYD India, PCA Automo..."

In [9]:
explore(states)

,data type,percent missing,No. unique,unique values
electric_vehicles_sold,int64,0.0,921,"[0, 1, 9, 26, 4, 2, 61, 8, 44, 3, 90, 132, 96,..."
total_vehicles_sold,int64,0.0,2225,"[398, 361, 113, 98, 229, 244, 458, 452, 489, 4..."
date,object,0.0,36,"[2021-04-01, 2021-05-01, 2021-06-01, 2021-07-0..."
state,object,0.0,35,"[Sikkim, Andaman & Nicobar Island, Arunachal P..."
vehicle_category,object,0.0,2,"[2-Wheelers, 4-Wheelers]"

In [10]:
explore(dim)

,data type,percent missing,No. unique,unique values
fiscal_year,int64,0.0,3,"[2022, 2023, 2024]"
date,object,0.0,36,"[2021-04-01, 2021-05-01, 2021-06-01, 2021-07-0..."
quarter,object,0.0,4,"[Q1, Q2, Q3, Q4]"

In [11]:
makers['maker'].unique()

array(['OLA ELECTRIC', 'OKAYA EV', 'BYD India', 'PCA Automobiles',
       'BMW India', 'Volvo Auto India', 'KIA Motors', 'Mercedes -Benz AG',
       'Tata Motors', 'MG Motor', 'Mahindra & Mahindra', 'Hyundai Motor',
       'HERO ELECTRIC', 'OKINAWA', 'AMPERE', 'ATHER', 'PURE EV', 'TVS',
       'REVOLT', 'BAJAJ', 'BEING', 'JITENDRA', 'OTHERS', 'BGAUSS',
       'BATTRE ELECTRIC', 'KINETIC GREEN'], dtype=object)

In [12]:
maker_logo = {
    'AMPERE': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/AMPERE_EV.png',
    'ATHER': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/ATHER.png',
    'BAJAJ': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/BAJAJ.png',
    'BATTRE ELECTRIC': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/BATTRE_ELECTRIC.png',
    'BEING': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/BEING.png',
    'BGAUSS': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/BGAUSS.png',
    'BMW India': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/BMW_INDIA.png',
    'BYD India': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/BYD_INDIA.png',
    'HERO ELECTRIC': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/HERO_ELECTRIC.png',
    'Hyundai Motor': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/HYUNDAI_MOTOR.png',
    'JITENDRA': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/JITENDRA.png',
    'KINETIC GREEN': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/KINETIC_GREEN.png',
    'KIA Motors': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/KIA_MOTORS.png',
    'Mahindra & Mahindra': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/MAHINDRA_AND_MAHINDRA.png',
    'Mercedes -Benz AG': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/MERCEDES_BENZ_AG.png',
    'MG Motor': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/MG_MOTOR.png',
    'OLA ELECTRIC': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/OLA_ELECTRIC.png',
    'OKAYA EV': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/OKAYA_EV.png',
    'OKINAWA': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/OKINAWA.png',
    'OTHERS': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/OTHERS.png',
    'PCA Automobiles': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/PCA_AUTOMOBILES.png',
    'PURE EV': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/PURE_EV.png',
    'REVOLT': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/REVOLT.png',
    'Tata Motors': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/TATA_MOTORS.png',
    'TVS': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/TVS.png',
    'Volvo Auto India': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Logos/White/VOLVO_AUTO_INDIA.png'
}

In [13]:
vehicle_category_logo = {
    '2-Wheelers': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Assets/2W_White.png',
    '4-Wheelers': 'https://raw.githubusercontent.com/gentallman/EV_Sales_India/main/Assets/4W_White.png',
}

In [14]:
# Map the logos to the DataFrame
makers['maker_logo'] = makers['maker'].map(maker_logo)
makers['vehicle_category_logo'] = makers['vehicle_category'].map(vehicle_category_logo)
states['vehicle_category_logo'] = states['vehicle_category'].map(vehicle_category_logo)

In [15]:
makers.to_csv(r'E:\Work\Projects\PowerBI\EV_Sales_India\Data\Transformed\sales_by_makers.csv', index=False)

In [16]:
states.to_csv(r'E:\Work\Projects\PowerBI\EV_Sales_India\Data\Transformed\sales_by_states.csv', index=False)

In [17]:
dim.to_csv(r'E:\Work\Projects\PowerBI\EV_Sales_India\Data\Transformed\dimension.csv', index=False)